<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-transform: capitalize;
            text-align: center;
            color: rgb(75, 75, 75);
        }
        p{
            text-align: justify;
            text-transform: capitalize;
            font-size: 18px;
            color: black;
        }
        a{
            padding: 10px 15px;
            cursor: pointer;
            background-color: #c4aa4f;
            border-radius: 5px;
            font-size: 14px;
            
            color: white;
            font-weight: bold;
            text-transform: capitalize;
            text-decoration: none;

        }
        a span{
            color: white;
        }
    </style>
</head>
<body>
    
    <h1>{{title}} 🤗</h1>
    <p>Welcome, {{username}} .</p>
    <p>Congratulations! You're just one step away from unlocking a world of shopping opportunities with SaleSquare. We're thrilled to have you join our community of avid shoppers.</p>
    <a href={{link}}><span>Click to activate you account 🫣</span></a>
    <br><br><br>
    
    
</body>
</html>